PORT=your_PORT
DB_URI=your_DB_URI
TOKEN_KEY=your_TOKEN_KEY
REFRESH_TOKEN_KEY=your_REFRESH_TOKEN_KEY
ENCRYPT_KEY=your_ENCRYPT_KEY
ENCRYPT_ALGORITHM=your_ENCRYPT_ALGORITHM
PREFIX=your_PREFIX
SALT_ROUNDS=your_SALT_ROUNDS
EMAIL=your_EMAIL
PASSWORD=your_EMAIL_PASSWORD
REDIS_URL=your_REDIS_URL