PORT=your_PORT
DB_URI=your_DB_URI
TOKEN_KEY=your_TOKEN_KEY
REFRESH_TOKEN_KEY=your_REFRESH_TOKEN_KEY
ENCRYPT_KEY=your_ENCRYPT_KEY
ENCRYPT_ALGORITHM=your_ENCRYPT_ALGORITHM
PREFIX=your_PREFIX
SALT_ROUNDS=your_SALT_ROUNDS
EMAIL=your_EMAIL
PASSWORD=your_EMAIL_PASSWORD
REDIS_URL=your_REDIS_URL
CLIENT_ID=your_CLIENT_ID
AWS_REGION=your_AWS_REGION
AWS_BUCKET_NAME=your_AWS_BUCKET_NAME
AWS_ACCESS_KEY=your_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=your_AWS_SECRET_ACCESS_KEY
SERVICE_ACCOUNT_KEY=your_SERVICE_ACCOUNT_KEY_FIREBASE